.form-forgot {
    width: 450px;
    min-height: 100px;
    margin: 0 auto;
    padding-top: 60px;
}

.heading-forgot {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}