.admin-payments {
	padding-top: 60px;
}
.admin-payments h1 {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.btn-paid {
	padding: 3px;
	background-color: #ee5253;
	border-radius: 5px;
}

.btn-paid:hover {
	opacity: 0.6;
}

.result {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 4px;
	align-items: center;
	margin-bottom: 14px;
}
.result .title1 {
	color: #fff;
}
.result .text {
	font-weight: bold;
	font-size: 22px;
	color: #fff;
}
.result:nth-child(1) {
	background-image: linear-gradient(-20deg,#2b5876 0%, #4e4376 100%);
}
.result:nth-child(2) {
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.result:nth-child(3) {
	background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

