.reason-reset {
	width: 100%;
}
.reset-password {
	padding-top: 60px;
}
.heading-reset {
	font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.form-reset {
	width: 100%;
    background-color: #fff;
    padding: 4px 10px;
}

.description  {
	font-size: 18px;
    margin: 20px 0 16px 0;
}