.loading-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
}
.loader {
    position: absolute;
    text-align: center;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    opacity: 0.5;
    font-size: 30px;
}
.load_anim1,
.load_anim2 {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%);    */
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    border-radius:50%;
    border: 5px solid;
    border-top-color: #ff9f43;
    border-bottom-color: #d63031;
    border-right-color: #0984e3;
    border-left-color: #10ac84;
    animation: loadAnim 3s;
    animation-iteration-count: infinite;
}
.load_anim2 {
    animation: loadAnim2 3s;
    animation-iteration-count: infinite;
}

@keyframes loadAnim {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
@keyframes loadAnim2 {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, -360deg);
    }
}