.home-detail {
    padding-top: 20px;
}
.home-detail-content {
    position: relative;
}
.home-detail-item {
    width: 100%;
   
    background-color: #eceef0;
}

.home-detail-img {
    width: 100%;
    height: 100%;
    text-align: center;

}
.home-detail-img img {
    object-fit: contain;
}


.home-detail .breadcrumb {
    z-index: 1;
    /* top: 0;
    left: 0; */
    margin-top: 10px;
    width: 250px;
}
.breadcrumb a {
    padding: 4px 10px;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 0.8px;
    color: #000;
}
.breadcrumb a {
    text-transform: uppercase;
    font-weight: 600;
}
.breadcrumb a:hover {
    background-color: #000;
    color: #fff;
}

.home-detail-description {
    margin-top: 10px;
}
.title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text-content .name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text-content .text {
    font-size: 16px;
    line-height: 28px;
}
.list-parameters {
    margin-left: 18px;
}
.list-parameters li {
    padding: 10px 0;
    list-style: disc;
}





.detail-slidebar {
    padding: 30px 20px;
}
.detail-slidebar .detail-name {
    font-weight: 600;
    font-size: 28px;
}
.detail-slidebar .detail-price{
    font-weight: 400;
    margin: 12px 0;
    font-size: 20px;
}
.detail-size .name-size{
    font-size: 20px;
    font-weight: 500;
}
.container-size {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}
.size {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ebedee;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
}
.size:hover {
    background-color: #000;
    color: #fff;
}
.btn-add-cart {
    margin-top: 20px;
}
.btn-add-cart i {
    margin-left: 8px;
}
.active.box {
    background-color: #000;
    color: #fff;
}