.history {
	padding-top: 60px;

}

.history-content {
	margin-top: 20px;
}


.history-page h2, 
h4
{
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

table {
	border: 1px solid #000;
}
td,
th{
	padding: 15px 20px;
	text-align: center;
}

td {
	font-size: 16px;
}
th{
	background-color: #03a9ff;
	color: #000;
	font-family: 'Open Sans',Sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}
tr{
	width: 100%;
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
}
tr:nth-child(odd){
	background-color: #eeeeee;
}

.history-page img {
	width: 70px;
	height: 100px;
	object-fit: cover;
}

